<a href="https://colab.research.google.com/github/gunishgoyal21-collab/generative-ai/blob/main/generativeAI%2Cpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 10
x

variable is a container to store information and retrieve it later

In [ ]:
#rules

In [ ]:
_mycity="solan"
_mycity

In [ ]:
my_sub ="python"
print (my_sub)

In [ ]:
#remaining part of variable are letter ,underscore or number
my_sub1 ="science"
my_sub1

In [ ]:
#for variable nmaing we can not use number on first position
my_sub1 ="science"
my_sub1

In [ ]:
#variable does not use contain space or symbol
my_sub = "machine learning"
my_sub

In [ ]:
#Rules for naming variable
#starting position of variable are underscore or later
my_sub ="python"
my_sub

In [ ]:
#python are case senstive , variable names such as my_sub,MY_SUB are diff
my_sub="machine learniang"
MY_SUB="deeplearning"
my_sub
MY_SUB

In [ ]:
#whaT is keywords
#reserved words in python are known as keywords
import keyword
keyword.kwlist

In [ ]:
#data type
#numeric
#integer--absence of decimal point is known as integer
#ex--1,2,3,4
x=1
type(x)#type ()is function that return type of data

In [ ]:
#floating point number--presence of decimal
#ex--3.14,7.14
y=7.14
type(y)

In [ ]:
#string--data in the form of text
x="solan"
type(x)

In [ ]:
b=False
type(b)

In [ ]:
#none--it is define null value means nothing
e=None
type(e)

In [ ]:
from os import WCOREDUMP
#boolean--it is used to store value in the form oftrue or false
b=WCOREDUMP
type(b)

In [ ]:
my_sub="machine learning"
print(my_sub)

In [ ]:
my_college ="shoolini university"
type(my_college)

In [ ]:
my_sentence='''This is multiple line
sentence ,so thais also a string '''
type(my_sentence)

In [ ]:
my_sub="machine learning"
my_sub[8
       ]

In [ ]:
my_sub [-16]

In [ ]:
my_sub[-15
       ]

In [ ]:
my_sub[0]

In [ ]:
my_sub[-1]

In [ ]:
my_sub="machine learning"
my_sub[0:7:1]
my_sub[8::1]
my_sub[0:15:2]

In [ ]:
#method of string

my_sub="PYTHON"
my_sub.lower()

In [ ]:
my_sub="machine learning"
my_sub.upper()

In [ ]:
my_sub="machine learning"
my_sub.count("a")

In [ ]:
my_list=[78,89,34,56]
type(my_list)

In [ ]:
mixed_list=["apple",24,3.14,True,None]
type(mixed_list)

In [ ]:
my_list=[78,84,36,34]
my_list[0]

In [ ]:
my_list=[78,84,36,34]
my_list[-1]

In [ ]:
my_list=[2,7,8,4,5,6]
my_list[-1]

In [ ]:
my_list=[2,7,8,4,5,6]
my_list[0:5:1]

In [ ]:
my_list[0:5]

In [ ]:
my_list[0:]

In [ ]:
my_list[:5]

In [ ]:
my_list[::-1]

In [ ]:
my_list[0:5:-1]

In [ ]:
#example
my_list=[2,5,8,78,56,456]
sum(my_list)

function in list
sum():-this function reyurn addition of the item in list
my_list=[2,7,8,4,3]

In [ ]:
#sorted()--this function arrange list in increasing order or decreasing order
my_list=[89,67,45,12,34]
sorted(my_list,reverse=True)

In [ ]:
my_list

In [ ]:
#apend()--this method aad item end of the list ,item take as argument
list1=[9,8,7,4]
list1.append(100)

In [ ]:
#extend ()--this method merge into another list
list1=[9,8,7,4]
list2=[100,200,300]
list1.extend(list2)
list1

In [ ]:
#pop()-- this method remove item from the list, and take index as a argument
my_list=[98,87,56,34,100]
my_list.pop(2)

In [ ]:
my_list

In [ ]:
#reverse()--this method reverse a list
my_list=[98,87,56,52]
my_list.reverse()

In [ ]:
my_list

dictionary - it is a collection of key and value pair ,every key value pair separated by colon ,the combinations key and a value is known as item ,and every item separated by comma ,enclosed by curly braces

In [ ]:
my_dict={"name":"abhay","college":"shoolini university"}
type(my_dict)

In [ ]:
my_dict={"name":"amit","college":"shoolini"}
my_dict["name"]
my_dict["college"]

In [ ]:
my_dict={"name":"amit","college":"shoolini"}
print(my_dict["name"])

In [ ]:
print(my_dict["college"])

In [ ]:
#keys()--this method find keys of dictionary
my_dict.keys()

In [ ]:
list(my_dict.keys())

In [ ]:
#values()--this method kind no of value in dictionary
my_dict.values()

In [ ]:
list(my_dict.values())

In [ ]:
#items()--this method find no of item in dictionary
my_dict.items()

In [ ]:
list(my_dict.items())

In [ ]:
#get()--this method find value and keys take as argument
my_dict.get("name")

In [ ]:
print(my_dict.get("age"))

In [ ]:
print(my_dict.get ("age","age is not found"))

In [ ]:
#update()--this method update the dictionary and take dictionary as a argument
my_dict.update({"age":"21"})
my_dict

In [ ]:
my_dict.update({"name":"jagat"})
my_dict

In [ ]:
#zip ()--this function take pair of list as a arguments and return python project
state_list =["hp","up","mp"]
city_list=["shimla","lucknow","bhopal"]
zip(state_list,city_list)

In [ ]:
dict(zip(state_list,city_list))

In [ ]:
#condition statement
#if--this execute when condition is true
#elif -- this execute when condition is true
#else--this execute when if and elif condition is false
age =input("enter your age")
age=int(input("enter your age"))
if age>60:
  print("you are too old for marry")
elif age<18:
  print("you are too young for marry")
else :
  print("we will find perfect match for you")

loop-it helps to run block of code repeatly
loop are two types :
1 . forloop.
2 . whileloop.
a.forloop:- it is work on sequence eg:string,tuple range
b.whileloop:-this loop execute until condition is true

In [ ]:
my_sub="python"
print(my_sub[0])
print(my_sub[1])
print(my_sub[2])
print(my_sub[3])
print(my_sub[4])
print(my_sub[5])

In [ ]:
for i in range(0,6,1):
 print (i)

In [ ]:
for i in range(0,6):
  print(i)

In [ ]:
for i in range(6):
      print(i)

In [ ]:
my_list= [90,78,65,45]
for i in my_list:
  print(i)

In [ ]:
#while loop
i=0#initialization
while i<5:
  print(i)
  i+=1

In [ ]:
i=0;
while i<5:
  i+=1
  if  i==3:
    break
  else :
    print(i)

In [ ]:
i=0
while i<5:
  i+=1
  if i==3:
    continue
    print(i)
  else:
      print(i)

In [ ]:
i=0
while i<5:
  i+=1
  if i==3:
    pass
    print(i)
  else:
      print(i)

In [ ]:
#function :-it performs some operation

In [ ]:
#user defined function without argument
def add():
  a=int(input("enter first number:"))
  b=int(input("enter second number:"))
  return a+b

In [ ]:
print (add())

In [ ]:
#positional argument
def calculation (a,b):
  print("Addition:",a+b)
  print("Subtraction:",a-b)
  print("Multiplication:",a*b)
  print("floor Division:",a//b)
  return "calculation is complete"

In [ ]:
print(calculation(10,5))

In [ ]:
#default argument
def area_perimeter(width=4,height=8):
  area=width*height
  perimeter=2*(width+height)
  return "Area of rectangle is",area,"and perimeter is",perimeter

In [ ]:
print(area_perimeter(5))

In [ ]:
#keyword argument
def interst (p,r,t):
  i=(p*r*t)/100
  return i

In [ ]:
print (interst(r=10,t=2,p=1000))

In [ ]:
#variable length argument :- we give any number of argument
#--1. non-keyword variable length argument. -: it is behave like tuple represent by star(*)
#--2. keyword variable length argument.:- it is behave like dictionary represent by double star(**)

In [ ]:
def test(*args):
  print(args)
  print(len(args))
  print(type(args))
test(1,2,3,4,5,6)

In [ ]:
test(4,8,9,7,11,8,54,459,)

In [ ]:
def sum_number(*args):
  sum=0
  for num in args:
    sum+=num
  return sum

In [ ]:
sum_number(789,952,741,963,759,)

In [ ]:
# keyword variable length argument
def test(**kwargs):
  print(kwargs)
  print(len(kwargs))
  print(type(kwargs))

In [ ]:
test(a=10,b=20,c=30)

In [ ]:
import numpy as np

In [ ]:
#one dimensional array
oned_array = np.array([1,2,3])
print(oned_array)

In [ ]:
#two dimensional array
twod_array = np.array([[1,2,3],[4,5,6]])
print(twod_array)

In [ ]:
row_vector=np.array([[1,2,3]])
print(row_vector)

In [ ]:
print(row_vector.transpose())

In [ ]:
#ndim --find the dimension
print(row_vector.ndim)

In [ ]:
#size ---find number of item
print(row_vector.size)

In [ ]:
print(twod_array)

In [ ]:
#shape-- find number of row and column in two dimensional array
print(twod_array.shape)

In [ ]:
print(row_vector)

In [ ]:
print(row_vector.shape)

In [ ]:
import numpy as np
threed_array = np.random.randint(1,20,(2,3,4))
print(threed_array)

In [ ]:
print(threed_array.shape)

In [ ]:
import numpy as np
zeros_array=np.zeros((3,3))
# print zeros in array
print(zeros_array)

In [ ]:
import numpy as np
zeros_array=np.zeros((3,3),dtype=int)
print(zeros_array)

In [ ]:
import numpy as np
ones_array = np.ones((3,3),dtype=int)
print(ones_array)

In [ ]:
import numpy as np
mat1=np.matrix("1,2,3;4,5,6;7,8,9")
print(mat1)

In [ ]:
import numpy as np
mat2 = np.random.randint(1,10,(3,3))
print(mat2)

In [ ]:
import numpy as np
mat3 =np.random.random((3,3))
print(mat3)

In [ ]:
import numpy as np
my_array = np.array([1,2,3,4,5])
print(my_array)
power_array =np.power(my_array,5)
print(power_array)

In [ ]:
import numpy as np
my_array=np.array([1,2,3])
print(my_array)
log10_array =np.log10(my_array)

print(log10_array)

In [ ]:
#matplotlib
#it is python library
#it is used for data visualization
#how to import
#import matplot pylot as plt

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
xpoint =np.array([1,3])
ypoint =np.array([2,4])
plt.plot(xpoint,ypoint)
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
cgpa =np.array([6,7,8,9,10])
package=np.array([4,5,6,7,9])
plt.plot(cgpa,package,"*:b",ms=15,mec="red",mfc="orange",linewidth=5)
plt.xlabel("CGPA")
plt.ylabel("package in LPA")
plt.title("abhay personal data")
plt.grid()
plt.show()

In [ ]:
#bar plot -- it works on numerical as well as categorical data
import matplotlib.pyplot as plt
import numpy as np
fruit = np.array(["apple","banana","orange","watermelon"])
quantity = np.array([100,200,80,70])
color = np.array(["red","yellow","orange","green"])
plt.bar(fruit, quantity ,color=color)
plt.xlabel("fruit")
plt.ylabel("Quantity of fruit")
plt.title("fruit vs fruit quantity")

plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
fruit = np.array(["apple","banana","orange","watermelon"])
quantity = np.array([100,200,80,70])
color = np.array(["red","yellow","orange","green"])
plt.barh(fruit, quantity ,color=color)
plt.ylabel("fruit")
plt.xlabel("Quantity of fruit")
plt.title("fruit vs fruit quantity")

plt.show()

In [ ]:
#pie plot
percentage_of_fruit = np.array([20,25,30,45])
fruit = np.array(["apple","banana","orange","watermelon"])
myexplode =np.array([0.2,0,0,0])
plt.pie(percentage_of_fruit,labels=fruit,explode=myexplode)
plt.legend(title ="fruit")
plt.show()

In [ ]:
age_of_car = np.array([4,5,6,7,8,9,10,12,14])
speed_of_car = np.array([150,140,120,110,100,90,80,70,60])
# plt.plot(age_of_car,speed_of_car)
plt.scatter(age_of_car,speed_of_car)
plt.xlabel("age of car")
plt.ylabel("speed of car")
plt.title("age of car vs speed of car")
plt.show()

In [ ]:
#histogram -- it showing the frequency distribution of the data
x = np.random.randint(40,100,(1,200))
x = x.flatten()
plt.hist(x,bins=20)
plt.xlabel("marks")
plt.ylabel("frequency")
plt.title("marks vs frequency")
plt.show()

print(x)

In [ ]:
#pandas--it is python library
#--it is used for data manipulation
#--data structure of pandas 1. series 2. data frame 3.panel
import pandas as pd

In [ ]:
my_series = pd.Series(["apple","banana","orange","watermelon"],name="fruit")
(my_series)

In [ ]:
df = pd.DataFrame([["apple",250],["banana",70],["orange",80],["watermelon",60]],columns =["fruit","prize"])
df

In [ ]:
import pandas as pd
import os

file_path = "/content/drive/MyDrive/imdb_data.csv"

if os.path.exists(file_path):
  df = pd.read_csv(file_path)
  print("DataFrame loaded successfully:")
  display(df.head())
else:
  print(f"Error: The file '{file_path}' was not found. Please make sure Google Drive is mounted and the file path is correct.")

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/imdb_data.csv")
df

In [ ]:
# ffetch data from bottom
df.tail(10)

In [ ]:
# fetch the data randomly from the dataframe
df.sample()

In [ ]:
df.sample(5)

In [ ]:
# find the information of the data
df.info()

In [ ]:
# mathematically describe the data (only work on numerical type of data)
df.describe()

In [ ]:
# find the number of columns
df.columns

In [ ]:
# inexing and slicing
df["title"]

In [ ]:
df[["title","budget"]]

In [ ]:
df[0:4]

In [ ]:
df.iloc[0:4,0:4]

In [ ]:
df.loc[0:4,["title","budget","revenue"]]

In [ ]:
# find the duplicate value
df.duplicated().sum()

In [ ]:
# find the null value
df.isnull().sum()

In [ ]:
# find the unique value in particular columnm
df["original_language"].unique()

In [ ]:
# find the number of unique values
df["original_language"].nunique()

In [ ]:
df["original_language"] == "en"

In [ ]:
hindi_movie = df[df["original_language"] == "hi"]
hindi_movie

In [ ]:
# how to write csv file
hindi_movie.to_csv("hindi_movie.csv")

In [ ]:
#cosine similarirty
import numpy as np
from numpy.linalg import norm
a= np.array([2,1,2,3,2,9])
b= np.array([3,4,2,4,5,5])

cosine = np.dot(a,b)/(norm(a)*norm(b))
print("cosine similarity:",cosine)

In [ ]:
from transformers import pipeline
summarizer = pipeline("summarization",model="facebook/bart-large-cnn")

text = """the global shift toward renewable energy is accelerating, driver by concerns over climate change and energy security. solat and wind power installations have reached record levels worldwide."""
summary = summarizer(text,max_length=30,min_length=10,do_sample=False)
print(summary)

ENCODER DECODER :- THIS MODEL IS A TYPE OF NN IT WORK ON SEQUENCE TO SEQUENCE DATA